    <div id="ns-template-column-middle" ng-class="{ 'ns-template-column-left-slide-state' : nsStateMachine.navDrawer.isVisible }">

      <ol id="ns-module-breadcrumbs">
        <li><a href="/">PZ Flex Style Guide</a></li>
        <li><span>UI Elements</span></li>
        <li><a href="/buttons">Buttons</a></li>
      </ol>
      <!-- #ns-module-breacrumbs -->

      <div class="ns-module-header">
        <div class="ns-module-header-information">
          <h1>Buttons</h1>
          <p>Several button styles are provided for various uses. Also shown here is consistent button styling across various button types. Buttons can also be styled to use different colors as well.</p>
        </div>
        <!-- .ns-module-header-information -->
        <div class="ns-module-header-actions">
          <a class="ns-button ns-button-green ns-button-large" href="/tables">Next Section</a><!-- a.ns-button -->
          <a class="ns-button ns-button-red" href="/icons">Previous Section</a><!-- a.ns-button -->
        </div>
        <!-- .ns-module-header-actions -->
      </div>
      <!-- .ns-module-header -->

      <div class="ns-module-generic">

        <h3 class="ns-module-generic-header">
          Regular Buttons
        </h3>
        <!-- .ns-module-generic-header -->
        <div class="ns-module-generic-content">

          <ol class="ns-button-specimens">
            <li><a class="ns-button" href="#">Anchor Button</a></li>
            <li><button>Button Button</button></li>
            <li><input type="submit" value="Input Submit Button" /></li>
            <li><input type="button" value="Input Button Button" /></li>
            <li><input type="reset" value="Input Reset Button" /></li>
          </ol>
          <!-- .ns-button-specimens -->

        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-generic">

        <h3 class="ns-module-generic-header">
          Small Buttons
        </h3>
        <!-- .ns-module-generic-header -->
        <div class="ns-module-generic-content">

          <ol class="ns-button-specimens">
            <li><a class="ns-button ns-button-small" href="#">Anchor Button</a></li>
            <li><button class="ns-button-small">Button Button</button></li>
            <li><input class="ns-button-small" type="submit" value="Input Submit Button" /></li>
            <li><input class="ns-button-small" type="button" value="Input Button Button" /></li>
            <li><input class="ns-button-small" type="reset" value="Input Reset Button" /></li>
          </ol>
          <!-- .ns-button-specimens -->

        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-generic">

        <h3 class="ns-module-generic-header">
          Large Buttons
        </h3>
        <!-- .ns-module-generic-header -->
        <div class="ns-module-generic-content">

          <ol class="ns-button-specimens">
            <li><a class="ns-button ns-button-large" href="#">Anchor Button</a></li>
            <li><button class="ns-button-large">Button Button</button></li>
            <li><input class="ns-button-large" type="submit" value="Input Submit Button" /></li>
            <li><input class="ns-button-large" type="button" value="Input Button Button" /></li>
            <li><input class="ns-button-large" type="reset" value="Input Reset Button" /></li>
          </ol>
          <!-- .ns-button-specimens -->

        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-generic">

        <h3 class="ns-module-generic-header">
          Line Buttons
        </h3>
        <!-- .ns-module-generic-header -->
        <div class="ns-module-generic-content">

          <ol class="ns-button-specimens">
            <li><a class="ns-button ns-button-line" href="#">Anchor Button</a></li>
            <li><button class="ns-button-line">Button Button</button></li>
            <li><input class="ns-button-line" type="submit" value="Input Submit Button" /></li>
            <li><input class="ns-button-line" type="button" value="Input Button Button" /></li>
            <li><input class="ns-button-line" type="reset" value="Input Reset Button" /></li>
          </ol>
          <!-- .ns-button-specimens -->

        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-actions">
        <a class="ns-button ns-button-green ns-button-large" href="/tables">Next Section</a><!-- a.ns-button -->
        <a class="ns-button ns-button-red" href="/icons">Previous Section</a><!-- a.ns-button -->
      </div>
      <!-- .ns-module-actions -->

    </div>
    <!-- #ns-template-column-middle -->
