    <div id="ns-template-column-middle">

      <ol id="ns-module-breadcrumbs">
        <li><a href="/">PZ Flex Style Guide</a></li>
        <li><span>Branding Elements</span></li>
        <li><a href="/colors">Colors</a></li>
      </ol>
      <!-- #ns-module-breacrumbs -->

      <div class="ns-module-header">
        <div class="ns-module-header-information">
          <h1>Colors</h1>
          <p>Your brand's colors communicate brand values through visual language. These colors have been separated below in a collection of swatches that specify the digital hex code values for reuse throughout various digital presences.</p>
        </div>
        <!-- .ns-module-header-information -->
        <div class="ns-module-header-actions">
          <a class="ns-button ns-button-green ns-button-large" href="/typography">Next Section</a><!-- a.ns-button -->
          <a class="ns-button ns-button-red" href="/logo">Previous Section</a><!-- a.ns-button -->
        </div>
        <!-- .ns-module-header-actions -->
      </div>
      <!-- .ns-module-header -->

      <div class="ns-module-generic">
        <h3 class="ns-module-generic-header">
          Colors
        </h3>
        <!-- .ns-module-generic-header -->
        <div class="ns-module-generic-content">

          <ol class="ns-color-specimens">
            <li>
              <span style="background: #383838;"></span>
              <strong>Dark Grey</strong>
              <em>#383838</em>
            </li>
            <li>
              <span style="background: #7a7a7a;"></span>
              <strong>Light Grey</strong>
              <em>#7a7a7a</em>
            </li>
            <li>
              <span style="background: #ce3e79;"></span>
              <strong>Magenta</strong>
              <em>#ce3e79</em>
            </li>
            <li>
              <span style="background: #6681bd;"></span>
              <strong>Periwinkle</strong>
              <em>#6681bd</em>
            </li>
            <li>
              <span style="background: #ffffff;"></span>
              <strong>White</strong>
              <em>#ffffff</em>
            </li>
          </ol>
          <!-- .ns-color-specimens -->

        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-actions">
        <a class="ns-button ns-button-green ns-button-large" href="/typography">Next Section</a><!-- a.ns-button -->
        <a class="ns-button ns-button-red" href="/logo">Previous Section</a><!-- a.ns-button -->
      </div>
      <!-- .ns-module-actions -->

    </div>
    <!-- #ns-template-column-middle -->