    <div id="ns-template-column-middle">

      <ol id="ns-module-breadcrumbs">
        <li><a href="/">PZ Flex Style Guide</a></li>
        <li><span>Branding Elements</span></li>
        <li><a href="/icons">Iconography</a></li>
      </ol>
      <!-- #ns-module-breacrumbs -->

      <div class="ns-module-header">
        <div class="ns-module-header-information">
          <h1>Iconography</h1>
          <p>For your convenience, we have provided you with a basic starting icon set for digital use. This icon set is licensed for use by Tyrannosaurus Tech and has been used throughout your project. These icons can be easily swapped out for a custom option.</p>
        </div>
        <!-- .ns-module-header-information -->
        <div class="ns-module-header-actions">
          <a class="ns-button ns-button-green ns-button-large" href="/buttons">Next Section</a><!-- a.ns-button -->
          <a class="ns-button ns-button-red" href="/typography">Previous Section</a><!-- a.ns-button -->
        </div>
        <!-- .ns-module-header-actions -->
      </div>
      <!-- .ns-module-header -->

      <div class="ns-module-generic">
        <h3 class="ns-module-generic-header">
          Symbolset Icons
        </h3>
        <!-- .ns-module-generic-header -->
        <div class="ns-module-generic-content">

          <ol class="ns-icon-specimens">

            <li>
              <span class="ss-icon">&#xE001;</span>
              <strong>.ss-cursor</strong>
              <em>&amp;#xE001;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2316;</span>
              <strong>.ss-crosshair</strong>
              <em>&amp;#x2316;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F50E;</span>
              <strong>.ss-search</strong>
              <em>&amp;#x1F50E;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE002;</span>
              <strong>.ss-zoomin</strong>
              <em>&amp;#xE002;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE003;</span>
              <strong>.ss-zoomout</strong>
              <em>&amp;#xE003;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F440;</span>
              <strong>.ss-view</strong>
              <em>&amp;#x1F440;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4CE;</span>
              <strong>.ss-attach</strong>
              <em>&amp;#x1F4CE;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F517;</span>
              <strong>.ss-link</strong>
              <em>&amp;#x1F517;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE070;</span>
              <strong>.ss-move</strong>
              <em>&amp;#xE070;</em>
            </li>
            <li>
              <span class="ss-icon">&#x270E;</span>
              <strong>.ss-write</strong>
              <em>&amp;#x270E;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE071;</span>
              <strong>.ss-writingdisabled</strong>
              <em>&amp;#xE071;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2710;</span>
              <strong>.ss-erase</strong>
              <em>&amp;#x2710;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4DD;</span>
              <strong>.ss-compose</strong>
              <em>&amp;#x1F4DD;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F512;</span>
              <strong>.ss-lock</strong>
              <em>&amp;#x1F512;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F513;</span>
              <strong>.ss-unlock</strong>
              <em>&amp;#x1F513;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F511;</span>
              <strong>.ss-key</strong>
              <em>&amp;#x1F511;</em>
            </li>
            <li>
              <span class="ss-icon">&#x232B;</span>
              <strong>.ss-backspace</strong>
              <em>&amp;#x232B;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F6AB;</span>
              <strong>.ss-ban</strong>
              <em>&amp;#x1F6AB;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE0D0;</span>
              <strong>.ss-trash</strong>
              <em>&amp;#xE0D0;</em>
            </li>
            <li>
              <span class="ss-icon">&#x25CE;</span>
              <strong>.ss-target</strong>
              <em>&amp;#x25CE;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE100;</span>
              <strong>.ss-tag</strong>
              <em>&amp;#xE100;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F516;</span>
              <strong>.ss-bookmark</strong>
              <em>&amp;#x1F516;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2691;</span>
              <strong>.ss-flag</strong>
              <em>&amp;#x2691;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F44D;</span>
              <strong>.ss-like</strong>
              <em>&amp;#x1F44D;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F44E;</span>
              <strong>.ss-dislike</strong>
              <em>&amp;#x1F44E;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2665;</span>
              <strong>.ss-heart</strong>
              <em>&amp;#x2665;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE1A0;</span>
              <strong>.ss-halfheart</strong>
              <em>&amp;#xE1A0;</em>
            </li>
            <li>
              <span class="ss-icon">&#x22C6;</span>
              <strong>.ss-star</strong>
              <em>&amp;#x22C6;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE1A1;</span>
              <strong>.ss-halfstar</strong>
              <em>&amp;#xE1A1;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE200;</span>
              <strong>.ss-sample</strong>
              <em>&amp;#xE200;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE201;</span>
              <strong>.ss-crop</strong>
              <em>&amp;#xE201;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE202;</span>
              <strong>.ss-layers</strong>
              <em>&amp;#xE202;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE240;</span>
              <strong>.ss-fill</strong>
              <em>&amp;#xE240;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE241;</span>
              <strong>.ss-stroke</strong>
              <em>&amp;#xE241;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4DE;</span>
              <strong>.ss-phone</strong>
              <em>&amp;#x1F4DE;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE300;</span>
              <strong>.ss-phonedisabled</strong>
              <em>&amp;#xE300;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE310;</span>
              <strong>.ss-rss</strong>
              <em>&amp;#xE310;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE320;</span>
              <strong>.ss-facetime</strong>
              <em>&amp;#xE320;</em>
            </li>
            <li>
              <span class="ss-icon">&#x21A9;</span>
              <strong>.ss-reply</strong>
              <em>&amp;#x21A9;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE350;</span>
              <strong>.ss-send</strong>
              <em>&amp;#xE350;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2709;</span>
              <strong>.ss-mail</strong>
              <em>&amp;#x2709;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4E5;</span>
              <strong>.ss-inbox</strong>
              <em>&amp;#x1F4E5;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4AC;</span>
              <strong>.ss-chat</strong>
              <em>&amp;#x1F4AC;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE399;</span>
              <strong>.ss-ellipsischat</strong>
              <em>&amp;#xE399;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2026;</span>
              <strong>.ss-ellipsis</strong>
              <em>&amp;#x2026;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F464;</span>
              <strong>.ss-user</strong>
              <em>&amp;#x1F464;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F467;</span>
              <strong>.ss-femaleuser</strong>
              <em>&amp;#x1F467;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F465;</span>
              <strong>.ss-users</strong>
              <em>&amp;#x1F465;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE500;</span>
              <strong>.ss-cart</strong>
              <em>&amp;#xE500;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4B3;</span>
              <strong>.ss-creditcard</strong>
              <em>&amp;#x1F4B3;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4B2;</span>
              <strong>.ss-dollarsign</strong>
              <em>&amp;#x1F4B2;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4CA;</span>
              <strong>.ss-barchart</strong>
              <em>&amp;#x1F4CA;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE570;</span>
              <strong>.ss-piechart</strong>
              <em>&amp;#xE570;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4E6;</span>
              <strong>.ss-box</strong>
              <em>&amp;#x1F4E6;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2302;</span>
              <strong>.ss-home</strong>
              <em>&amp;#x2302;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F3E2;</span>
              <strong>.ss-buildings</strong>
              <em>&amp;#x1F3E2;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE602;</span>
              <strong>.ss-warehouse</strong>
              <em>&amp;#xE602;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F30E;</span>
              <strong>.ss-globe</strong>
              <em>&amp;#x1F30E;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE670;</span>
              <strong>.ss-navigate</strong>
              <em>&amp;#xE670;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE671;</span>
              <strong>.ss-compass</strong>
              <em>&amp;#xE671;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE672;</span>
              <strong>.ss-signpost</strong>
              <em>&amp;#xE672;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE673;</span>
              <strong>.ss-map</strong>
              <em>&amp;#xE673;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE6D0;</span>
              <strong>.ss-location</strong>
              <em>&amp;#xE6D0;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4CD;</span>
              <strong>.ss-pin</strong>
              <em>&amp;#x1F4CD;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE7A0;</span>
              <strong>.ss-database</strong>
              <em>&amp;#xE7A0;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE7B0;</span>
              <strong>.ss-hdd</strong>
              <em>&amp;#xE7B0;</em>
            </li>
            <li>
              <span class="ss-icon">&#x266B;</span>
              <strong>.ss-music</strong>
              <em>&amp;#x266B;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F3A4;</span>
              <strong>.ss-mic</strong>
              <em>&amp;#x1F3A4;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F508;</span>
              <strong>.ss-volume</strong>
              <em>&amp;#x1F508;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F509;</span>
              <strong>.ss-lowvolume</strong>
              <em>&amp;#x1F509;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F50A;</span>
              <strong>.ss-highvolume</strong>
              <em>&amp;#x1F50A;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE800;</span>
              <strong>.ss-airplay</strong>
              <em>&amp;#xE800;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4F7;</span>
              <strong>.ss-camera</strong>
              <em>&amp;#x1F4F7;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F304;</span>
              <strong>.ss-picture</strong>
              <em>&amp;#x1F304;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4F9;</span>
              <strong>.ss-video</strong>
              <em>&amp;#x1F4F9;</em>
            </li>
            <li>
              <span class="ss-icon">&#x25B6;</span>
              <strong>.ss-play</strong>
              <em>&amp;#x25B6;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE8A0;</span>
              <strong>.ss-pause</strong>
              <em>&amp;#xE8A0;</em>
            </li>
            <li>
              <span class="ss-icon">&#x25A0;</span>
              <strong>.ss-stop</strong>
              <em>&amp;#x25A0;</em>
            </li>
            <li>
              <span class="ss-icon">&#x25CF;</span>
              <strong>.ss-record</strong>
              <em>&amp;#x25CF;</em>
            </li>
            <li>
              <span class="ss-icon">&#x23EA;</span>
              <strong>.ss-rewind</strong>
              <em>&amp;#x23EA;</em>
            </li>
            <li>
              <span class="ss-icon">&#x23E9;</span>
              <strong>.ss-fastforward</strong>
              <em>&amp;#x23E9;</em>
            </li>
            <li>
              <span class="ss-icon">&#x23EE;</span>
              <strong>.ss-skipback</strong>
              <em>&amp;#x23EE;</em>
            </li>
            <li>
              <span class="ss-icon">&#x23ED;</span>
              <strong>.ss-skipforward</strong>
              <em>&amp;#x23ED;</em>
            </li>
            <li>
              <span class="ss-icon">&#x23CF;</span>
              <strong>.ss-eject</strong>
              <em>&amp;#x23CF;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F501;</span>
              <strong>.ss-repeat</strong>
              <em>&amp;#x1F501;</em>
            </li>
            <li>
              <span class="ss-icon">&#x21BA;</span>
              <strong>.ss-replay</strong>
              <em>&amp;#x21BA;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F500;</span>
              <strong>.ss-shuffle</strong>
              <em>&amp;#x1F500;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4D5;</span>
              <strong>.ss-book</strong>
              <em>&amp;#x1F4D5;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4D6;</span>
              <strong>.ss-openbook</strong>
              <em>&amp;#x1F4D6;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4D3;</span>
              <strong>.ss-notebook</strong>
              <em>&amp;#x1F4D3;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4F0;</span>
              <strong>.ss-newspaper</strong>
              <em>&amp;#x1F4F0;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE9A0;</span>
              <strong>.ss-grid</strong>
              <em>&amp;#xE9A0;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE9A1;</span>
              <strong>.ss-rows</strong>
              <em>&amp;#xE9A1;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE9A2;</span>
              <strong>.ss-columns</strong>
              <em>&amp;#xE9A2;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE9A3;</span>
              <strong>.ss-thumbnails</strong>
              <em>&amp;#xE9A3;</em>
            </li>
            <li>
              <span class="ss-icon">&#xE9B0;</span>
              <strong>.ss-filter</strong>
              <em>&amp;#xE9B0;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4BB;</span>
              <strong>.ss-desktop</strong>
              <em>&amp;#x1F4BB;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEA00;</span>
              <strong>.ss-laptop</strong>
              <em>&amp;#xEA00;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEA01;</span>
              <strong>.ss-tablet</strong>
              <em>&amp;#xEA01;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4F1;</span>
              <strong>.ss-cell</strong>
              <em>&amp;#x1F4F1;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F50B;</span>
              <strong>.ss-battery</strong>
              <em>&amp;#x1F50B;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEA10;</span>
              <strong>.ss-highbattery</strong>
              <em>&amp;#xEA10;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEA11;</span>
              <strong>.ss-mediumbattery</strong>
              <em>&amp;#xEA11;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEA12;</span>
              <strong>.ss-lowbattery</strong>
              <em>&amp;#xEA12;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEA13;</span>
              <strong>.ss-emptybattery</strong>
              <em>&amp;#xEA13;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4A1;</span>
              <strong>.ss-lightbulb</strong>
              <em>&amp;#x1F4A1;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEB00;</span>
              <strong>.ss-downloadcloud</strong>
              <em>&amp;#xEB00;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEB01;</span>
              <strong>.ss-download</strong>
              <em>&amp;#xEB01;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEB40;</span>
              <strong>.ss-uploadcloud</strong>
              <em>&amp;#xEB40;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEB41;</span>
              <strong>.ss-upload</strong>
              <em>&amp;#xEB41;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEB80;</span>
              <strong>.ss-fork</strong>
              <em>&amp;#xEB80;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEB81;</span>
              <strong>.ss-merge</strong>
              <em>&amp;#xEB81;</em>
            </li>
            <li>
              <span class="ss-icon">&#x21C6;</span>
              <strong>.ss-transfer</strong>
              <em>&amp;#x21C6;</em>
            </li>
            <li>
              <span class="ss-icon">&#x21BB;</span>
              <strong>.ss-refresh</strong>
              <em>&amp;#x21BB;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEB82;</span>
              <strong>.ss-sync</strong>
              <em>&amp;#xEB82;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEB83;</span>
              <strong>.ss-loading</strong>
              <em>&amp;#xEB83;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEB84;</span>
              <strong>.ss-wifi</strong>
              <em>&amp;#xEB84;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEB85;</span>
              <strong>.ss-connection</strong>
              <em>&amp;#xEB85;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4C4;</span>
              <strong>.ss-file</strong>
              <em>&amp;#x1F4C4;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4C1;</span>
              <strong>.ss-folder</strong>
              <em>&amp;#x1F4C1;</em>
            </li>
            <li>
              <span class="ss-icon">&#x201C;</span>
              <strong>.ss-quote</strong>
              <em>&amp;#x201C;</em>
            </li>
            <li>
              <span class="ss-icon">&#xED00;</span>
              <strong>.ss-text</strong>
              <em>&amp;#xED00;</em>
            </li>
            <li>
              <span class="ss-icon">&#xED01;</span>
              <strong>.ss-font</strong>
              <em>&amp;#xED01;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2399;</span>
              <strong>.ss-print</strong>
              <em>&amp;#x2399;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4E0;</span>
              <strong>.ss-fax</strong>
              <em>&amp;#x1F4E0;</em>
            </li>
            <li>
              <span class="ss-icon">&#xED50;</span>
              <strong>.ss-list</strong>
              <em>&amp;#xED50;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEDA0;</span>
              <strong>.ss-layout</strong>
              <em>&amp;#xEDA0;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEE00;</span>
              <strong>.ss-action</strong>
              <em>&amp;#xEE00;</em>
            </li>
            <li>
              <span class="ss-icon">&#x21AA;</span>
              <strong>.ss-redirect</strong>
              <em>&amp;#x21AA;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2922;</span>
              <strong>.ss-expand</strong>
              <em>&amp;#x2922;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEE01;</span>
              <strong>.ss-contract</strong>
              <em>&amp;#xEE01;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2753;</span>
              <strong>.ss-help</strong>
              <em>&amp;#x2753;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2139;</span>
              <strong>.ss-info</strong>
              <em>&amp;#x2139;</em>
            </li>
            <li>
              <span class="ss-icon">&#x26A0;</span>
              <strong>.ss-alert</strong>
              <em>&amp;#x26A0;</em>
            </li>
            <li>
              <span class="ss-icon">&#x26D4;</span>
              <strong>.ss-caution</strong>
              <em>&amp;#x26D4;</em>
            </li>
            <li>
              <span class="ss-icon">&#xEE02;</span>
              <strong>.ss-logout</strong>
              <em>&amp;#xEE02;</em>
            </li>
            <li>
              <span class="ss-icon">&#x002B;</span>
              <strong>.ss-plus</strong>
              <em>&amp;#x002B;</em>
            </li>
            <li>
              <span class="ss-icon">&#x002D;</span>
              <strong>.ss-hyphen</strong>
              <em>&amp;#x002D;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2713;</span>
              <strong>.ss-check</strong>
              <em>&amp;#x2713;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2421;</span>
              <strong>.ss-delete</strong>
              <em>&amp;#x2421;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2699;</span>
              <strong>.ss-settings</strong>
              <em>&amp;#x2699;</em>
            </li>
            <li>
              <span class="ss-icon">&#xF000;</span>
              <strong>.ss-dashboard</strong>
              <em>&amp;#xF000;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F514;</span>
              <strong>.ss-notifications</strong>
              <em>&amp;#x1F514;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F515;</span>
              <strong>.ss-notificationsdisabled</strong>
              <em>&amp;#x1F515;</em>
            </li>
            <li>
              <span class="ss-icon">&#x23F2;</span>
              <strong>.ss-clock</strong>
              <em>&amp;#x23F2;</em>
            </li>
            <li>
              <span class="ss-icon">&#x23F1;</span>
              <strong>.ss-stopwatch</strong>
              <em>&amp;#x23F1;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4C5;</span>
              <strong>.ss-calendar</strong>
              <em>&amp;#x1F4C5;</em>
            </li>
            <li>
              <span class="ss-icon">&#xF070;</span>
              <strong>.ss-addcalendar</strong>
              <em>&amp;#xF070;</em>
            </li>
            <li>
              <span class="ss-icon">&#xF071;</span>
              <strong>.ss-removecalendar</strong>
              <em>&amp;#xF071;</em>
            </li>
            <li>
              <span class="ss-icon">&#xF072;</span>
              <strong>.ss-checkcalendar</strong>
              <em>&amp;#xF072;</em>
            </li>
            <li>
              <span class="ss-icon">&#xF073;</span>
              <strong>.ss-deletecalendar</strong>
              <em>&amp;#xF073;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4BC;</span>
              <strong>.ss-briefcase</strong>
              <em>&amp;#x1F4BC;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2601;</span>
              <strong>.ss-cloud</strong>
              <em>&amp;#x2601;</em>
            </li>
            <li>
              <span class="ss-icon">&#x1F4A7;</span>
              <strong>.ss-droplet</strong>
              <em>&amp;#x1F4A7;</em>
            </li>
            <li>
              <span class="ss-icon">&#xF4C0;</span>
              <strong>.ss-flask</strong>
              <em>&amp;#xF4C0;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2B06;</span>
              <strong>.ss-up</strong>
              <em>&amp;#x2B06;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2B08;</span>
              <strong>.ss-upright</strong>
              <em>&amp;#x2B08;</em>
            </li>
            <li>
              <span class="ss-icon">&#x27A1;</span>
              <strong>.ss-right</strong>
              <em>&amp;#x27A1;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2B0A;</span>
              <strong>.ss-downright</strong>
              <em>&amp;#x2B0A;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2B07;</span>
              <strong>.ss-down</strong>
              <em>&amp;#x2B07;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2B0B;</span>
              <strong>.ss-downleft</strong>
              <em>&amp;#x2B0B;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2B05;</span>
              <strong>.ss-left</strong>
              <em>&amp;#x2B05;</em>
            </li>
            <li>
              <span class="ss-icon">&#x2B09;</span>
              <strong>.ss-upleft</strong>
              <em>&amp;#x2B09;</em>
            </li>
            <li>
              <span class="ss-icon">&#xF500;</span>
              <strong>.ss-navigateup</strong>
              <em>&amp;#xF500;</em>
            </li>
            <li>
              <span class="ss-icon">&#x25BB;</span>
              <strong>.ss-navigateright</strong>
              <em>&amp;#x25BB;</em>
            </li>
            <li>
              <span class="ss-icon">&#xF501;</span>
              <strong>.ss-navigatedown</strong>
              <em>&amp;#xF501;</em>
            </li>
            <li>
              <span class="ss-icon">&#x25C5;</span>
              <strong>.ss-navigateleft</strong>
              <em>&amp;#x25C5;</em>
            </li>
            <li>
              <span class="ss-icon">&#x25B4;</span>
              <strong>.ss-directup</strong>
              <em>&amp;#x25B4;</em>
            </li>
            <li>
              <span class="ss-icon">&#x25B9;</span>
              <strong>.ss-directright</strong>
              <em>&amp;#x25B9;</em>
            </li>
            <li>
              <span class="ss-icon">&#x25BE;</span>
              <strong>.ss-dropdown</strong>
              <em>&amp;#x25BE;</em>
            </li>
            <li>
              <span class="ss-icon">&#x25C3;</span>
              <strong>.ss-directleft</strong>
              <em>&amp;#x25C3;</em>
            </li>
            <li>
              <span class="ss-icon">&#xF600;</span>
              <strong>.ss-retweet</strong>
              <em>&amp;#xF600;</em>
            </li>

          </ol>
          <!-- ol.ns-icon-specimens -->

        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-actions">
        <a class="ns-button ns-button-green ns-button-large" href="/buttons">Next Section</a><!-- a.ns-button -->
        <a class="ns-button ns-button-red" href="/typography">Previous Section</a><!-- a.ns-button -->
      </div>
      <!-- .ns-module-actions -->

    </div>
    <!-- #ns-template-column-middle -->



