<div id="ns-template">

  <div id="ns-template-column-left">
    <div id="ns-template-column-left-header">
      <div id="ns-template-column-left-header-logo">
        <img src="<%= asset_path("core/nav-logo.png") %>" />
      </div>
      <!-- #ns-template-column-left-header-logo -->
      <h3 id="ns-template-column-left-header-title">
        PZ Flex
      </h3>
      <!-- #ns-template-column-left-header-title -->
      <h3 id="ns-template-column-left-header-actions">
        <a href="/">Home</a> | <a href="#">Go Back</a>
      </h3>
      <!-- #ns-template-column-left-header-actions -->
    </div>
    <!-- #ns-template-column-left-header -->
    <h4 class="ns-template-column-left-menu-header">
      <span>Branding Elements</span>
    </h4>
    <!-- h4.ns-template-column-left-menu-header -->
    <ol class="ns-template-column-left-menu">
      <li><a href="#"><span class="ss-icon">User</span> Logo <span class="ns-template-column-left-menu-badge">21</span></a></li>
      <li><a class="ns-template-column-left-menu-item-current" href="#"><span class="ss-icon">User</span> Colors <span class="ns-template-column-left-menu-badge">21</span></a></li>
      <li><a href="#"><span class="ss-icon">User</span> Fonts <span class="ns-template-column-left-menu-badge">21</span></a></li>
      <li><a href="#"><span class="ss-icon">User</span> Icon Sets <span class="ns-template-column-left-menu-badge">21</span></a></li>
    </ol>
    <!-- ol.ns-template-column-left-menu -->
    <h4 class="ns-template-column-left-menu-header">
      <span>UI Elements</span>
    </h4>
    <!-- h4.ns-template-column-left-menu-header -->
    <ol class="ns-template-column-left-menu">
      <li><a href="#"><span class="ss-icon">User</span> Buttons <span class="ns-template-column-left-menu-badge">21</span></a></li>
      <li><a href="#"><span class="ss-icon">User</span> Tables <span class="ns-template-column-left-menu-badge">21</span></a></li>
      <li><a href="#"><span class="ss-icon">User</span> Tiled Lists <span class="ns-template-column-left-menu-badge">21</span></a></li>
      <li><a href="#"><span class="ss-icon">User</span> Forms <span class="ns-template-column-left-menu-badge">21</span></a></li>
    </ol>
    <!-- ol.ns-template-column-left-menu -->
  </div>
  <!-- #ns-template-column-left -->

  <div id="ns-template-column-middle">

    <ol id="ns-module-breadcrumbs">
      <li><span>PZ Flex Style Guide</span></li>
      <li><span>Branding Elements</span></li>
      <li><a href="#">Logo</a></li>
    </ol>
    <!-- #ns-module-breacrumbs -->

    <div class="ns-module-header">
      <div class="ns-module-header-information">
        <h1>Logo</h1>
        <p>Bacon ipsum dolor amet eiusmod jerky bresaola kevin ullamco non proident commodo flank ut irure. Venison do beef swine esse pastrami alcatra burgdoggen. Est shankle tri-tip chuck. Pariatur veniam enim pork loin ham short ribs drumstick tail turkey dolore. Filet mignon mollit in aliquip.</p>
      </div>
      <!-- .ns-module-header-information -->
      <div class="ns-module-header-actions">
        <button class="ns-button ns-button-green ns-button-large">Next Section</button><!-- button.ns-button -->
        <button class="ns-button ns-button-red">Previous Section</button><!-- button.ns-button -->
      </div>
      <!-- .ns-module-header-actions -->
    </div>
    <!-- .ns-module-header -->

    <div class="ns-module-generic">
      <h3 class="ns-module-generic-header">
        Primary Logotype
      </h3>
      <!-- .ns-module-generic-header -->
    </div>
    <!-- .ns-module-generic -->

    <div class="ns-module-generic">
      <h3 class="ns-module-generic-header">
        Font Specimens
      </h3>
      <!-- .ns-module-generic-header -->
      <ol class="ns-font-specimens">
        <li>
          <span>Aa</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Bb</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Cc</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Dd</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Ee</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Ff</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Gg</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Hh</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Ii</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Jj</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Kk</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Ll</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Mm</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Nn</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Oo</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Pp</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Qq</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Rr</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Ss</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Tt</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Ut</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Vv</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Ww</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Xx</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Yy</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
        <li>
          <span>Zz</span>
          <strong>Size: 100px</strong>
          <em>Weight: 800</em>
        </li>
      </ol>
      <!-- ol.font-specimens -->
    </div>
    <!-- .ns-module-generic -->

    <div class="ns-module-actions">
      <button class="ns-button ns-button-green">Next Section</button><!-- button.ns-button -->
      <button class="ns-button ns-button-red">Previous Section</button><!-- button.ns-button -->
    </div>
    <!-- .ns-module-actions -->

  </div>
  <!-- #ns-template-column-middle -->

  <div id="ns-template-column-right">

    <h5 class="ns-template-column-right-header">
      <strong><span>Patch</span> ReleaseNotes</strong>
    </h5>
    <!-- h5.ns-template-column-right-header -->


    <ol class="ns-template-column-right-menu">
      <li>
        <a href="#">
          <strong>Patch</strong> 0.0.5<br />
          <em>February 20th, 2017</em>
          <span class="ns-template-column-right-menu-badge">21</span>
        </a>
      </li>
      <li>
        <a href="#">
          <strong>Patch</strong> 0.0.4<br />
          <em>February 20th, 2017</em>
          <span class="ns-template-column-right-menu-badge">21</span>
        </a>
      </li>
      <li>
        <a href="#">
          <strong>Patch</strong> 0.0.3<br />
          <em>February 20th, 2017</em>
          <span class="ns-template-column-right-menu-badge">21</span>
        </a>
      </li>
      <li>
        <a href="#">
          <strong>Patch</strong> 0.0.2<br />
          <em>February 20th, 2017</em>
          <span class="ns-template-column-right-menu-badge">21</span>
        </a>
      </li>
      <li>
        <a href="#">
          <strong>Patch</strong> 0.0.1<br />
          <em>February 20th, 2017</em>
          <span class="ns-template-column-right-menu-badge">21</span>
        </a>
      </li>
    </ol>
    <!-- ol.ns-template-column-right-menu -->

  </div>
  <!-- #ns-template-column-right -->

</div>
<!-- #ns-template -->