    <div id="ns-template-column-middle" ng-class="{ 'ns-template-column-left-slide-state' : nsStateMachine.navDrawer.isVisible }">

      <ol id="ns-module-breadcrumbs">
        <li><a href="/">PZ Flex Style Guide</a></li>
        <li><span>UI Elements</span></li>
        <li><a href="/lists">Lists</a></li>
      </ol>
      <!-- #ns-module-breacrumbs -->

      <div class="ns-module-header">
        <div class="ns-module-header-information">
          <h1>Lists</h1>
          <p>Bacon ipsum dolor amet eiusmod jerky bresaola kevin ullamco non proident commodo flank ut irure. Venison do beef swine esse pastrami alcatra burgdoggen. Est shankle tri-tip chuck. Pariatur veniam enim pork loin ham short ribs drumstick tail turkey dolore. Filet mignon mollit in aliquip.</p>
        </div>
        <!-- .ns-module-header-information -->
        <div class="ns-module-header-actions">
          <a class="ns-button ns-button-green ns-button-large" href="/forms">Next Section</a><!-- a.ns-button -->
          <a class="ns-button ns-button-red" href="/tables">Previous Section</a><!-- a.ns-button -->
        </div>
        <!-- .ns-module-header-actions -->
      </div>
      <!-- .ns-module-header -->

      <div class="ns-module-generic">
        <h3 class="ns-module-generic-header">
          Lists
        </h3>
        <!-- .ns-module-generic-header -->
        <div class="ns-module-generic-content">
          Lists.
        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-actions">
        <a class="ns-button ns-button-green ns-button-large" href="/forms">Next Section</a><!-- a.ns-button -->
        <a class="ns-button ns-button-red" href="/tables">Previous Section</a><!-- a.ns-button -->
      </div>
      <!-- .ns-module-actions -->

    </div>
    <!-- #ns-template-column-middle -->
