    <div id="ns-template-column-middle">

      <ol id="ns-module-breadcrumbs">
        <li><a href="/">PZ Flex Style Guide</a></li>
        <li><span>Branding Elements</span></li>
        <li><a href="/logo">Logo</a></li>
      </ol>
      <!-- #ns-module-breacrumbs -->

      <div class="ns-module-header">
        <div class="ns-module-header-information">
          <h1>Logo</h1>
          <p>This is your brand's logo. It comes in two main variations. First, it comes with a basic version against a white or transparent background. There is a second variation that shows how your logo should appear against a dark background.</p>
        </div>
        <!-- .ns-module-header-information -->
        <div class="ns-module-header-actions">
          <a class="ns-button ns-button-green ns-button-large" href="/colors">Next Section</a><!-- a.ns-button -->
          <a class="ns-button ns-button-red" href="/forms">Previous Section</a><!-- a.ns-button -->
        </div>
        <!-- .ns-module-header-actions -->
      </div>
      <!-- .ns-module-header -->

      <div class="ns-module-generic">
        <h3 class="ns-module-generic-header">
          Primary Logotype
        </h3>
        <!-- .ns-module-generic-header -->
        <div class="ns-module-generic-content">
          <img class="ns-logo-specimen" src="<%= asset_path("pz-flex-logo.png") %>" alt="Application logo (links to home page)." />
        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-generic">
        <h3 class="ns-module-generic-header">
          Secondary Logotype (On Dark Background)
        </h3>
        <!-- .ns-module-generic-header -->
        <div class="ns-module-generic-content">
          <img class="ns-logo-specimen" src="<%= asset_path("pz-flex-logo-on-background.png") %>" alt="Application logo (links to home page)." />
        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-actions">
        <a class="ns-button ns-button-green" href="/colors">Next Section</a><!-- a.ns-button -->
        <a class="ns-button ns-button-red" href="/forms">Previous Section</a><!-- a.ns-button -->
      </div>
      <!-- .ns-module-actions -->

    </div>
    <!-- #ns-template-column-middle -->