      <div class="ns-module-generic">

        <h3 class="ns-module-generic-header">
          Font Specimen - Bold Italic
        </h3>
        <!-- .ns-module-generic-header -->

        <div class="ns-module-generic-content">

          <ol class="ns-font-specimens" style="font-style: italic;">
            <li>
              <span>Aa</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Bb</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Cc</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Dd</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Ee</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Ff</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Gg</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Hh</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Ii</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Jj</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Kk</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Ll</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Mm</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Nn</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Oo</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Pp</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Qq</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Rr</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Ss</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Tt</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Ut</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Vv</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Ww</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Xx</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Yy</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Zz</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
          </ol>
          <!-- ol.font-specimens -->

        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-generic">

        <h3 class="ns-module-generic-header">
          Font Specimen - Normal Italic
        </h3>
        <!-- .ns-module-generic-header -->

        <div class="ns-module-generic-content">

          <ol class="ns-font-specimens" style="font-weight: normal; font-style: italic;">
            <li>
              <span>Aa</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Bb</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Cc</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Dd</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Ee</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Ff</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Gg</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Hh</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Ii</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Jj</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Kk</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Ll</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Mm</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Nn</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Oo</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Pp</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Qq</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Rr</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Ss</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Tt</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Ut</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Vv</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Ww</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Xx</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Yy</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Zz</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
          </ol>
          <!-- ol.font-specimens -->

        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-generic">

        <h3 class="ns-module-generic-header">
          Font Specimen - Light Italic
        </h3>
        <!-- .ns-module-generic-header -->

        <div class="ns-module-generic-content">

          <ol class="ns-font-specimens" style="font-weight: lighter; font-style: italic;">
            <li>
              <span>Aa</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Bb</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Cc</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Dd</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Ee</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Ff</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Gg</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Hh</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Ii</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Jj</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Kk</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Ll</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Mm</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Nn</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Oo</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Pp</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Qq</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Rr</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Ss</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Tt</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Ut</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Vv</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Ww</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Xx</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Yy</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Zz</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
          </ol>
          <!-- ol.font-specimens -->

        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->