    <div id="ns-template-column-middle">

      <ol id="ns-module-breadcrumbs">
        <li><a href="/">PZ Flex Style Guide</a></li>
        <li><span>Branding Elements</span></li>
        <li><a href="/typography">Typography</a></li>
      </ol>
      <!-- #ns-module-breacrumbs -->

      <div class="ns-module-header">
        <div class="ns-module-header-information">
          <h1>Typography</h1>
          <p>A system of typographical rules helps optimize the reading experience across your digital presences for your users. This guide shows how your typeface(s) should be applied across your brand's design properties.</p>
        </div>
        <!-- .ns-module-header-information -->
        <div class="ns-module-header-actions">
          <a class="ns-button ns-button-green ns-button-large" href="/icons">Next Section</a><!-- a.ns-button -->
          <a class="ns-button ns-button-red" href="/colors">Previous Section</a><!-- a.ns-button -->
        </div>
        <!-- .ns-module-header-actions -->
      </div>
      <!-- .ns-module-header -->

      <div class="ns-module-generic">
        <h3 class="ns-module-generic-header">
          Secondary Logotype (On Dark Background)
        </h3>
        <!-- .ns-module-generic-header -->
        <div class="ns-module-generic-content">
          <ol class="ns-font-size-specimens">
            <li>
              <ol>
                <li>H1 Page Headers</li>
                <li>Typeface: Helvetica Neue</li>
                <li>Size: 72px</li>
                <li>Line Height: 80px</li>
                <li>Color: #383838</li>
                <li>Weight: Bold</li>
                <li>Letter Spacing: -1px</li>
              </ol>
              <p class="ns-font-size-specimen-larger">The wizard quickly jinxed the gnomes before they vaporized.</p>
            </li>
            <li>
              <ol>
                <li>H2 Sub-Page Headers</li>
                <li>Typeface: Helvetica Neue</li>
                <li>Size: 30px</li>
                <li>Line Height: 40px</li>
                <li>Color: #383838</li>
                <li>Weight: Lighter</li>
                <li>Letter Spacing: 0</li>
              </ol>
              <p class="ns-font-size-specimen-large">The wizard quickly jinxed the gnomes before they vaporized.</p>
            </li>
            <li>
              <ol>
                <li>Body Text</li>
                <li>Typeface: Helvetica Neue</li>
                <li>Size: 18px</li>
                <li>Line Height: 26px</li>
                <li>Color: #7a7a7a</li>
                <li>Weight: Normal</li>
                <li>Letter Spacing: 0</li>
              </ol>
              <p class="ns-font-size-specimen-regular">The wizard quickly jinxed the gnomes before they vaporized.</p>
            </li>
            <li>
              <ol>
                <li>H4 Section Headers</li>
                <li>Typeface: Helvetica Neue</li>
                <li>Size: 11px</li>
                <li>Line Height: 16px</li>
                <li>Color: #000000</li>
                <li>Weight: Bold</li>
                <li>Letter Spacing: 0</li>
              </ol>
              <p class="ns-font-size-specimen-small">The wizard quickly jinxed the gnomes before they vaporized.</p>
            </li>
            <li>
              <ol>
                <li>Fine Print</li>
                <li>Typeface: Helvetica Neue</li>
                <li>Size: 11px</li>
                <li>Line Height: 16px</li>
                <li>Color: #000000</li>
                <li>Weight: Bold</li>
                <li>Letter Spacing: 0</li>
              </ol>
              <p class="ns-font-size-specimen-smaller">The wizard quickly jinxed the gnomes before they vaporized.</p>
            </li>
          </ol>
          <!-- ol.ns-font-size-specimens -->
        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-generic">

        <h3 class="ns-module-generic-header">
          Font Specimen - Bold
        </h3>
        <!-- .ns-module-generic-header -->

        <div class="ns-module-generic-content">

          <ol class="ns-font-specimens">
            <li>
              <span>Aa</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Bb</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Cc</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Dd</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Ee</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Ff</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Gg</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Hh</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Ii</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Jj</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Kk</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Ll</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Mm</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Nn</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Oo</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Pp</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Qq</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Rr</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Ss</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Tt</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Ut</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Vv</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Ww</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Xx</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Yy</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
            <li>
              <span>Zz</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold</em>
            </li>
          </ol>
          <!-- ol.font-specimens -->

        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-generic">

        <h3 class="ns-module-generic-header">
          Font Specimen - Normal
        </h3>
        <!-- .ns-module-generic-header -->

        <div class="ns-module-generic-content">

          <ol class="ns-font-specimens" style="font-weight: normal;">
            <li>
              <span>Aa</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Bb</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Cc</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Dd</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Ee</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Ff</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Gg</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Hh</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Ii</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Jj</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Kk</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Ll</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Mm</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Nn</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Oo</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Pp</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Qq</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Rr</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Ss</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Tt</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Ut</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Vv</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Ww</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Xx</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Yy</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
            <li>
              <span>Zz</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal</em>
            </li>
          </ol>
          <!-- ol.font-specimens -->

        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-generic">

        <h3 class="ns-module-generic-header">
          Font Specimen - Light
        </h3>
        <!-- .ns-module-generic-header -->

        <div class="ns-module-generic-content">

          <ol class="ns-font-specimens" style="font-weight: lighter;">
            <li>
              <span>Aa</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Bb</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Cc</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Dd</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Ee</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Ff</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Gg</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Hh</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Ii</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Jj</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Kk</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Ll</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Mm</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Nn</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Oo</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Pp</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Qq</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Rr</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Ss</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Tt</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Ut</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Vv</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Ww</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Xx</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Yy</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
            <li>
              <span>Zz</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter</em>
            </li>
          </ol>
          <!-- ol.font-specimens -->

        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-generic">

        <h3 class="ns-module-generic-header">
          Font Specimen - Bold Italic
        </h3>
        <!-- .ns-module-generic-header -->

        <div class="ns-module-generic-content">

          <ol class="ns-font-specimens" style="font-style: italic;">
            <li>
              <span>Aa</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Bb</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Cc</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Dd</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Ee</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Ff</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Gg</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Hh</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Ii</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Jj</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Kk</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Ll</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Mm</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Nn</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Oo</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Pp</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Qq</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Rr</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Ss</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Tt</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Ut</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Vv</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Ww</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Xx</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Yy</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
            <li>
              <span>Zz</span>
              <strong>Size: 100px</strong>
              <em>Weight: Bold | Style: Italic</em>
            </li>
          </ol>
          <!-- ol.font-specimens -->

        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-generic">

        <h3 class="ns-module-generic-header">
          Font Specimen - Normal Italic
        </h3>
        <!-- .ns-module-generic-header -->

        <div class="ns-module-generic-content">

          <ol class="ns-font-specimens" style="font-weight: normal; font-style: italic;">
            <li>
              <span>Aa</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Bb</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Cc</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Dd</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Ee</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Ff</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Gg</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Hh</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Ii</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Jj</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Kk</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Ll</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Mm</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Nn</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Oo</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Pp</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Qq</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Rr</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Ss</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Tt</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Ut</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Vv</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Ww</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Xx</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Yy</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
            <li>
              <span>Zz</span>
              <strong>Size: 100px</strong>
              <em>Weight: Normal | Style: Italic</em>
            </li>
          </ol>
          <!-- ol.font-specimens -->

        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-generic">

        <h3 class="ns-module-generic-header">
          Font Specimen - Light Italic
        </h3>
        <!-- .ns-module-generic-header -->

        <div class="ns-module-generic-content">

          <ol class="ns-font-specimens" style="font-weight: lighter; font-style: italic;">
            <li>
              <span>Aa</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Bb</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Cc</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Dd</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Ee</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Ff</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Gg</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Hh</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Ii</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Jj</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Kk</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Ll</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Mm</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Nn</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Oo</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Pp</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Qq</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Rr</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Ss</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Tt</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Ut</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Vv</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Ww</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Xx</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Yy</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
            <li>
              <span>Zz</span>
              <strong>Size: 100px</strong>
              <em>Weight: Lighter | Style: Italic</em>
            </li>
          </ol>
          <!-- ol.font-specimens -->

        </div>
        <!-- .ns-module-generic-content -->
      </div>
      <!-- .ns-module-generic -->

      <div class="ns-module-actions">
        <a class="ns-button ns-button-green ns-button-large" href="/icons">Next Section</a><!-- a.ns-button -->
        <a class="ns-button ns-button-red" href="/colors">Previous Section</a><!-- a.ns-button -->
      </div>
      <!-- .ns-module-actions -->

    </div>
    <!-- #ns-template-column-middle -->
